<div *ngIf="!auth.isAuthenticated()">
  <p-messages [value]="msgs"></p-messages>
</div>

<div *ngIf="auth.isAuthenticated()">
  <md-card class="app-input-section">
    <form (ngSubmit)="onSubmit()" #newForm="ngForm">

      <img md-card-avatar [src]="auth.userProfile.picture" alt="" class="profile-img">
      <md-input-container #name required maxlength="50" [(ngModel)]="reservation.name"
                          [ngModelOptions]="{standalone: true}" ngDefaultControl>
        <input mdInput placeholder="Name">
      </md-input-container>


      <div class="ui-g">
        <div class="ui-g-12 ui-md-6">
          <p>{{"DATE"| translate}}</p>
          <p-calendar [(ngModel)]="reservation.date" [ngModelOptions]="{standalone: true}"
                      [showIcon]="true" required></p-calendar>
          <span style="margin-left:35px">{{reservation.date|date}}</span>
        </div>
      </div>

      <div>
        How many persons?
        <md-slider required [(ngModel)]="reservation.howManyPeople" [ngModelOptions]="{standalone: true}" min="1" max="20"
                   tick-interval="1" step="1"></md-slider>
        <span> {{reservation.howManyPeople}}</span>
      </div>

      <button md-raised-button type="submit" color="primary" class="row">Send</button>
    </form>
  </md-card>
  <p-growl [value]="messages"></p-growl>
</div>
